@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-ight-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%)
}

body {
    background-color: var(--Light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-size: 700;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.9em;
}

/* style the card */
.card {
    background-color: var(--White);
    height: 700px;
    /* width: 100%; */
    border-radius: 25px 25px 0px 0px;
    padding: 1.5em;
    /* position: relative; */
}

label {
    display: inline-block;
}

input {
    width: 100%;
    padding: 10px 15px;
    font-size: 25px;
}

.tip-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.btn {
    /* padding: 5px; */
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    border-radius: 5px;
    border: 0;
}







.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}